<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Start</title>
	<script type="text/javascript" src="/script/other/prettify.js"></script>
	<script type="text/javascript" src="/script/other/loadAndFilter.js"></script>
	<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script type="text/javascript" src="/script/api/easyrtc.js"></script>
	<script type="text/javascript" src="/script/functions/functions.js"></script>
	<script type="text/javascript" src="/script/iFrameTest/Iframe.js"></script>
	<link rel="stylesheet" href="/css/start/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.4/sweetalert2.all.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.3/sweetalert2.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<link type="text/css" href="/script/jquery/jquery.ui.all.css" rel="stylesheet" />
	<link type="text/css" href="jquery/jquery.ui.theme.css" rel="stylesheet" />
	<link type="text/css" href="/script/jquery/demos.css" rel="stylesheet" />
	<link type="text/css" href="/script/swappable.css" rel="stylesheet" />
	<script type="text/javascript" src="/script/jquery/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.sortable.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.swappable.js"></script>

</head>

<body id="body">
	<button class="waves-effect waves-light btn btn-success" id="iFrameButton" onclick="iFrame();">iFrameTest</button>
</body>
<script>
</script>

</html>