<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Start</title>
	<script type="text/javascript" src="/script/other/prettify.js"></script>
	<script type="text/javascript" src="/script/other/loadAndFilter.js"></script>
	<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script type="text/javascript" src="/script/api/easyrtc.js"></script>
	<script type="text/javascript" src="/script/functions/functions.js"></script>
	<script type="text/javascript" src="/script/iFrameTest/Iframe.js"></script>
	<link rel="stylesheet" href="/css/start/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.4/sweetalert2.all.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.3/sweetalert2.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<link type="text/css" href="/script/jquery/jquery.ui.all.css" rel="stylesheet" />
	<link type="text/css" href="jquery/jquery.ui.theme.css" rel="stylesheet" />
	<link type="text/css" href="/script/jquery/demos.css" rel="stylesheet" />
	<link type="text/css" href="/script/swappable.css" rel="stylesheet" />
	<script type="text/javascript" src="/script/jquery/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.core.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.sortable.js"></script>
	<script type="text/javascript" src="/script/jquery/jquery.ui.swappable.js"></script>

	<style type="text/css">
		#swappable {
			list-style-type: none;
			margin: 3px 3px 3px 3px;
			padding: 0;
		}

		#swappable li {
			margin: 3px 3px 3px 3px;
			padding: 2px;
			float: left;
			width: 50px;
			height: 50px;
			font-size: 2em;
			text-align: center;
		}

		.ui-state-highlight {
			height: 50px;
			width: 50px;
		}

		.demo1 {
			width: 180px;
			height: 180px;
			align-content: center;
		}
	</style>
</head>

<body id="body">
	<button class="waves-effect waves-light btn btn-success" id="iFrameButton" onclick="iFrame();">iFrameTest</button>
	<!-- <div class="demo1">
		<ul id="swappable">
			<li id="item1" class="ui-state-default">1</li>
			<li id="item2" class="ui-state-default">2</li>
			<li id="item3" class="ui-state-default">3</li>
			<li id="item4" class="ui-state-default">4</li>
			<li id="item5" class="ui-state-default">5</li>
			<li id="item6" class="ui-state-default">6</li>
			<li id="item7" class="ui-state-default">7</li>
			<li id="item8" class="ui-state-default">8</li>
			<li id="item9" class="ui-state-default">9</li>
		</ul>
	</div> -->
</body>
<script>
	$(function () {
		$("#swappable").swappable({
			items: '.ui-state-default',
			cursorAt: { top: -5 }
		});
		$("#swappable").disableSelection();
	});
</script>

</html>