<html>

<head>
	<meta charset="utf-8">
	<title>Lobby</title>
	<!-- <script type="text/javascript" src="/script/other/prettify.js"></script>
	<script type="text/javascript" src="/script/other/loadAndFilter.js"></script>
	<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script type="text/javascript" src="/script/api/easyrtc.js"></script> -->
	<script type="text/javascript" src="/script/functions/functions.js"></script>
	<link rel="stylesheet" href="/css/start/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.4/sweetalert2.all.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.24.3/sweetalert2.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Detect.js/2.2.2/detect.min.js"></script>
</head>

<body onload="onPageLoad()">
	<div id="join">
		<div id="join-form">
			<form class="col s12" id="formId" onsubmit="return start();">
				<div class="input-field col s12">
					<input id="userNameField" type="text">
					<label for="userNameField">Username</label>
				</div>
				<button class="btn waves-effect" id="connectButton">Connect</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var searchWindow;
		var roomWindow;
		function onPageLoad() {
			window.addEventListener("message", receiveMessage, false);
			if (checkBrowser())
				checkuid(functions.getUrlParam("uid"));
			checkNickName(functions.checkCookie("username"));
		}

		function checkuid(uid) {
			if (uid === undefined || uid === null)
				swal({
					type: 'error',
					title: 'Oops...',
					showConfirmButton: false,
					allowOutsideClick: false,
					html: '<div style="font-family: Arial, Helvetica, sans-serif;">We can not identify you. Please return to <a href="https://www.mturk.com/">Amazon Mechanical Turk.</div>'
				});
			else {
				functions.setCookie("uid", uid);
			}
		}

		function checkNickName(name) {
			if (name)
				document.getElementById("userNameField").value = name;
		}

		function checkSearchWindow() {
			if (!searchWindow || searchWindow.closed || typeof searchWindow.closed == 'undefined') {
				searchWindow = functions.windowOpen("http://demo5.kbs.uni-hannover.de/pairsearch/?uid=" + functions.checkCookie("uid"), "search", 0, 0, screen.width / 2, screen.height);
				searchWindow.blur();
			}
		}

		function receiveMessage(event) {
			checkSearchWindow();
			event.source.focus();
		}

		function checkBrowser() {
			var ua = detect.parse(navigator.userAgent);
			console.log(ua.os.family);
			if (!ua.os.family.includes("Windows")) {
				swal({
					type: 'error',
					title: 'Oops...',
					showConfirmButton: false,
					allowOutsideClick: false,
					html: '<div style="font-family: Arial, Helvetica, sans-serif;">This task requires Firefox for Windows.</div>'
				});
				return false;
			}
			if (ua.browser.family != "Firefox") {
				swal({
					type: 'error',
					title: 'Oops...',
					showConfirmButton: false,
					allowOutsideClick: false,
					html: '<div style="font-family: Arial, Helvetica, sans-serif;">Currently ScreenShare works only in <a href="https://www.mozilla.org">Firefox</a>.<br> Please open this page in <a href="https://www.mozilla.org">Firefox</a>.</div>'
				});
				return false;
			}
			return true;
		}

		document.onkeypress = function (e) {
			e = e || window.event;
			if (e.keyCode === 13) {
				start();
			}
		}

		function start() {
			username = document.getElementById("userNameField").value;
			if (username == "") {
				swal({
					type: 'error',
					title: 'Oops...',
					showConfirmButton: true,
					allowOutsideClick: false,
					html: '<div style="font-family: Arial, Helvetica, sans-serif;"> You did not choose username! Please chose it!</div>',
				});
			}
			else {
				functions.setCookie("username", username);
				var uid = functions.getUrlParam("uid");
				functions.setCookie("uid", uid);
				searchWindow = functions.windowOpen("http://demo5.kbs.uni-hannover.de/pairsearch/?uid=" + uid, "search", 0, 0, screen.width / 2, screen.height);
				roomWindow = functions.windowOpen("/room", "room", 0, screen.height, screen.width / 2, screen.height);
				if (!roomWindow || roomWindow.closed || typeof roomWindow.closed == 'undefined') {
					searchWindow.close();
				}
				else {
					roomWindow.focus();
				}
			}
			return false;
		}
	</script>
</body>

</html>