<html>

<head>
    <title>Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/> -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- <link rel="stylesheet" href="/node_modules/daemonite-material/css/material.min.css">
        <script type="text/javascript" src="/node_modules/daemonite-material/js/material.min.js"></script> -->
    <!-- <script type="text/javascript" src="/script/other/prettify.js"></script>
        <script type="text/javascript" src="/script/other/loadAndFilter.js"></script> -->
    <!-- <script type="text/javascript" src="/script/other/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/script/api/easyrtc.js"></script>
    <script type="text/javascript" src="/script/room/room.js"></script>
    <script type="text/javascript" src="/script/api/labs/desktop_capture_iframe_version.js"></script>
    <script type="text/javascript" src="/script/api/labs/easyrtc_recorder.js"></script>
    <script type="text/javascript" src="/script/streem.js"></script>
    <link rel="stylesheet" href="/css/start/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="/node_modules/recordrtc/RecordRTC.js">

    </script>
</head>
<style>
    nav {
        height: 30px;
        line-height: 30px;
    }

    nav i,
    nav [class^="mdi-"],
    nav [class*="mdi-"],
    nav i.material-icons {
        height: 30px;
        line-height: 30px;
    }

    nav .button-collapse i {
        height: 30px;
        line-height: 30px;
    }

    nav .brand-logo {
        font-size: 1.6rem;
    }

    @media only screen and (min-width: 601px) {
        nav,
        nav .nav-wrapper i,
        nav a.button-collapse,
        nav a.button-collapse i {
            height: 30px;
            line-height: 30px;
        }
    }
</style>

<body onload="initApp();">
    <div id="container">
        <div id="main">
            <nav class="green">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right"><i class="material-icons">video_library</i>Screen Schare</a>
                    <ul id="nav-mobile" class="left">
                        <li><a onclick="showMe('forRemoteVideos')">Remote Videos</a></li>
                        <li><a onclick="showMe('forChat')">Chat</a></li>
                        <li><a onclick="showMe('forLocalVideos')">Local Videos</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="collection with-header">
                <li class="collection-item" id="forRemoteVideos" style="display:none;">
                    <div class="progress" id="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div id="otherClients"></div>
                    <div class="carousel carousel-slider center" autoplay="autoplay" id="remoteVideos">
                    </div>
                </li>
                <li class="collection-item" id="forChat" style="display:none;">
                    <div class="jumbotron">
                        <div id="receiveMessageArea">
                            <p class="flow-text">
                                <div id="conversation">
                            </p>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">mode_edit</i>
                                <input placeholder="Enter your message here" id="sendMessageText" type="text" class="validate">
                                <label for="sendMessageText"></label>
                            </div>
                            <div id="rooms"></div>
                        </div>
                </li>
                <li class="collection-item" id="forLocalVideos" style="display:none;">
                    <div id="videoSrcBlk">
                        <div id="otherClients"></div>
                    </div>
                    <br>
                    <div class="carousel carousel-slider center" autoplay="autoplay" id="localVideos">
                    </div>
                </li>
            </ul>
            <!-- <div id="forRemoteVideos" style="display:none;">
                <div class="progress" id="progress">
                    <div class="indeterminate"></div>
                </div>
                <div id="otherClients"></div>
                <div class="carousel carousel-slider center" autoplay="autoplay" id="remoteVideos" style="height:500">
                </div>
            </div>
            <br>
            <br>
            <div id="forChat" style="display:none;">
                <div class="jumbotron">
                    <div id="receiveMessageArea">
                        <blockquote>
                            <div id="conversation"></div>
                        </blockquote>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <input placeholder="Enter your message here" id="sendMessageText" type="text" class="validate">
                        <label for="sendMessageText"></label>
                    </div>
                    <div id="rooms"></div>
                </div>
            </div>
            <br>
            <br>
            <div id="forLocalVideos" style="display:none;">
                <div id="videoSrcBlk">
                    <div id="otherClients"></div>
                </div>
                <br>
                <div class="carousel carousel-slider center" autoplay="autoplay" id="localVideos" style="height:500">
                </div>
            </div> -->
            <!-- <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">place</i>Remote media streams</div>
                    <div class="collapsible-body">
                        <div class="progress" id="progress">
                            <div class="indeterminate"></div>
                        </div>
                        <div id="otherClients"></div>
                        <div class="carousel carousel-slider center" autoplay="autoplay" id="remoteVideos" style="height:500">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">filter_drama</i>Chat</div>
                    <div class="collapsible-body">
                        <div class="jumbotron">
                            <div id="receiveMessageArea">
                                <blockquote>
                                    <div id="conversation"></div>
                                </blockquote>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">mode_edit</i>
                                <input placeholder="Enter your message here" id="sendMessageText" type="text" class="validate">
                                <label for="sendMessageText"></label>
                            </div>
                            <div id="rooms"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">whatshot</i>Local media streams
                    </div>
                    <div class="collapsible-body">
                        <div id="videoSrcBlk">
                            <div id="otherClients"></div>
                        </div>
                        <div class="carousel carousel-slider center" autoplay="autoplay" id="localVideos" style="height:500">
                        </div>
                    </div>
                </li>
            </ul> -->
            </div>
        </div>
</body>
<script type="text/javascript">
    function colapps() {
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });
    };

</script>
<script>
    $("#rooms").click(() => {
        var chatMessage = {
            rtcId: easyRTCid, roomId: checkCookie("selfEasyrtcid"), name: checkCookie("username"), chat: checkCookie("lastMessage")
        }
        postChat(chatMessage)
    });
    function postChat(chat) {
        $.post("/room/:roomId/saveMessage", chat)
    };

</script>
<script>
    // $('#localVideos').carousel({
    //     fullWidth: true,
    //     indicators: false
    // });
    // $(document).ready(function () {
    //     $('#localVideos').slider();
    // });
    // $('#remoteVideos').carousel({
    //     fullWidth: true,
    //     indicators: false
    // });
    $(document).ready(function () {
        $('#localVideos').carousel({
            fullWidth: true,
            indicators: false
        });
    $(document).ready(function () {
        $('#remoteVideos').carousel({
            fullWidth: true,
            indicators: false
        });
    // $(document).ready(function () {
    //     $('#remoteVideos').slider();
    // });

</script>
<script>
        function myCarousel(divId) {
            var slider = $('#' + divId + '');
            slider.carousel();
            if (slider.hasClass('initialized')) {
                slider.removeClass('initialized')
            }
            slider.carousel();
        }

</script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

</script>
<script type="text/javascript">
    function showMe(divId) {
        if (document.getElementById(divId).style.display == "block")
            var vis = "none";
        if (document.getElementById(divId).style.display == "none")
            var vis = "block";
        document.getElementById(divId).style.display = vis;
    }

</script>

</html>